#facebookPost {
    margin-top: 100px;
    width: 400px;
}

img {
    border-radius: 50%;
    width: 50px;
}

.displayName {
    font-weight: bold;
    margin-left: 4px;
}

.timeText {
    font-weight: normal;
    color: gray;
    margin-left: 4px;
}

.postText {
    max-width: 500px;
    overflow: auto;
    word-wrap: break-word;
}

td {
    float:left;
}
