<div id="facebookPost">
    <table>
        <tr>
          <th rowspan="2">
            <img src="https://pbs.twimg.com/profile_images/874276197357596672/kUuht00m_400x400.jpg"/>
          </th>
          <th>
            <span class="displayName">Donald J. Trump</span>
            
          </th>
        </tr>
        <tr>
          <td><span class="timeText">7 t  · ★</span></td>
        </tr>
        <tr>
            <td colspan="2" class="postText">{{postService.text | uppercase}}</td>
        </tr>
      </table>
</div>
