<div class="toolbar" role="banner">
  <img
    width="60"
    alt="Logo"
    class="logo"
    src="assets/gumman.jpg"
  />
  <span>{{ title }}</span>
  <a aria-label="Source code link" target="_blank" rel="noopener" href="https://github.com/gummangummangumman/Twitter-threader" title="Source code link" id="githubLink">
    <img src="assets/GitHub-Mark.png" alt="Github mark" width="60" />
  </a>
</div>

<div class="content" role="main">
  <description></description>
  <textarea id="postInput" name="postInput" rows="6" cols="50" placeholder="Write your post here ..." [(ngModel)]="postService.text"></textarea>
  <settings-bar></settings-bar>
  <tweet-thread post="{{postService.text}}" counterAtEnd="{{settingsService.counterAtEnd}}"></tweet-thread>
</div>