.imgContainer
{
    height: 100%;
    position: relative;
    width: 50px;
}

img
{
    border-radius: 50%;
    width: 50px;
    position: absolute;
    top: 0%;
    left: 0%;
}

.names
{
    float: left;
}

.displayName {
    font-weight: bold;
}

.atName {
    font-weight: normal;
    color: gray;
    margin-left: 8px;
}

img, .atName, .displayName
{
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}

.tweetText {
    max-width: 500px;
    overflow: auto;
    word-wrap: break-word;
    margin-top: 0%;
}

.illegal {
    background-color: red;
}

.error {
    font-weight: bold;
    color: red;
}

#tweet
{
    margin-top: 20px;
    /* border: solid; */
    border-radius: 20px;
    border-color: black;
    width: 600px;
}

#tweet:hover
{
    background-color: #f0f0f0;
    cursor: copy;
}
