img {
    border-radius: 50%;
    width: 50px;
}

.displayName {
    font-weight: bold;
}

.atName {
    font-weight: normal;
    color: gray;
    margin-left: 8px;
}

.tweetText {
    max-width: 500px;
    overflow: auto;
    word-wrap: break-word;
}

.illegal {
    color: red;
}

.error {
    font-weight: bold;
}

#tweet {
    margin-top: 100px;
}
