<div id="tweet" (click)="copyToClipboard()">
    <table>
        <tr>
          <th rowspan="3" class="imgContainer">
            <img src="https://pbs.twimg.com/profile_images/874276197357596672/kUuht00m_400x400.jpg"/>
          </th>
          <th class="names">
            <span class="displayName">Donald J. Trump</span>
            <span class="atName">@realDonaldTrump</span>
          </th>
        </tr>
        <tr>
          <td><p class="tweetText">{{first(post)}}<span class="illegal">{{rest(post)}}</span></p></td>
        </tr>
        <tr *ngIf="post.length > maxNumberOfCharacters" class="error">
            <td>Tweets can not be longer than {{maxNumberOfCharacters}} characters long!</td>
        </tr>
      </table>
</div>
