<div id="tweet">
    <table>
        <tr>
          <th rowspan="3">
            <img src="https://pbs.twimg.com/profile_images/874276197357596672/kUuht00m_400x400.jpg"/>
          </th>
          <th>
            <span class="displayName">Donald J. Trump</span>
            <span class="atName">@realDonaldTrump</span>
          </th>
        </tr>
        <tr>
          <td><p class="tweetText">{{first(postService.text)}}<span class="illegal">{{rest(postService.text)}}</span></p></td>
        </tr>
        <tr *ngIf="postService.text.length > maxNumberOfCharacters" class="error">
            <td>Tweets can not be longer than {{maxNumberOfCharacters}} characters long!</td>
        </tr>
      </table>
</div>
