img {
    border-radius: 50%;
    width: 50px;
}

.displayName {
    font-weight: bold;
}

.atName {
    font-weight: normal;
    color: gray;
    margin-left: 8px;
}

#tweet {
    margin-top: 100px;
}